services:
  web:
    image: nginx:latest
    container_name: nginx_web
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      # 1단계(VMWare)에서는 nginx-http.conf를, 2단계(AWS)에서는 nginx-https.conf를 default.conf로 복사하여 사용하세요.
      - ./nginx/nginx-http.conf:/etc/nginx/conf.d/default.conf
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
      - ./src/static:/app/static
    depends_on:
      - api
    networks:
      - app_network

  api:
    build: ./src
    container_name: flask_api
    restart: always
    volumes:
      - ./src:/app
    env_file:
      - ./src/.env
    networks:
      - app_network

  db:
    image: mariadb:10.11
    container_name: mariadb_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - ./data/mysql:/var/lib/mysql
      - ./data/mysql-init:/docker-entrypoint-initdb.d
    networks:
      - app_network

  adminer:
    image: adminer:latest
    container_name: db_adminer
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - db
    networks:
      - app_network

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do sleep 12h & wait $${!}; certbot renew; done;'"
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
